In [1]:
import spacy
import pandas as pd
import os
import pickle

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [8]:
charmeta = pd.read_csv('https://raw.githubusercontent.com/rmb176/MovieGenderBias/main/character.metadata.tsv', sep='\t')
charmeta.head(10)

,Wiki ID,Freebase ID,Release Date,Character Name,Actor DOB,Gender,Height (M),Ethnicity,Actor Name,Actor Age,FB Char/Act ID,FB Char ID,FB Act ID
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg
5,975900,/m/03vyhn,2001-08-24,Commander Helena Braddock,1949-05-26,F,1.727,/m/0x67,Pam Grier,52.0,/m/02vdcfp,/m/0bgchnd,/m/0418ft
6,975900,/m/03vyhn,2001-08-24,Whitlock,1945-08-02,F,1.753,NaN,Joanna Cassidy,56.0,/m/02vd6kw,/m/0bgchmx,/m/06lj1m
7,975900,/m/03vyhn,2001-08-24,Big Daddy Mars,NaN,M,NaN,NaN,Richard Cetrone,NaN,/m/0bgchsy,/m/0bgcht0,/m/0bgcht7
8,975900,/m/03vyhn,2001-08-24,Michael Descanso,1971-03-20,M,1.892,NaN,Liam Waite,30.0,/m/03jqhb0,/m/0bgchs4,/m/0ks8b0
9,975900,/m/03vyhn,2001-08-24,Uno,NaN,M,NaN,NaN,Duane Davis,NaN,/m/0bgchtj,/m/0bgchtm,/m/03nrwdy

In [9]:
#Total number of character entries in the dataset
len(charmeta)

450669

In [10]:
#Drop all entries with null character name
charmeta = charmeta.dropna(axis=0, subset=['Character Name'])
len(charmeta)

192794

In [6]:
mvmeta = pd.read_csv("https://raw.githubusercontent.com/rmb176/MovieGenderBias/main/movie.metadata.tsv", sep='\t')
mvmeta.head(10)

,Wiki ID,Freebase ID,Movie Name,Release Date,Box Office,Runtime,Language,Country Origin,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
5,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen..."
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant..."
7,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ..."
8,9997961,/m/06_y2j7,Contigo y aquí,1974,NaN,NaN,"{""/m/06nm1"": ""Spanish Language""}","{""/m/0jgd"": ""Argentina""}","{""/m/04t36"": ""Musical"", ""/m/07s9rl0"": ""Drama"",..."
9,2345652,/m/075f66,City of the Dead,1960,NaN,76.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/03npn"": ""Horror"", ""/m/0fdjb"": ""Supernatur..."

In [7]:
#Total number of movies in the dataset
len(mvmeta)

81741

In [16]:
summs = pd.read_csv('https://raw.githubusercontent.com/rmb176/MovieGenderBias/main/plot_summaries.txt', sep='\t')
summs.head(10)

    Wiki ID                                            Summary
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...
4    595909  Seventh-day Adventist Church pastor Michael Ch...
5   5272176  The president is on his way to give a speech. ...
6   1952976  {{plot}} The film opens in 1974, as a young gi...
7  24225279  The story begins with Hannah, a young Jewish t...
8   2462689  Infuriated at being told to write one final co...
9  20532852  A line of people  drool at the window of the s...

In [17]:
#Collect all of the character metadata into lists associated with a movie ID
charsets = {}
for ind in charmeta.index:
  id = charmeta['Wiki ID'][ind]
  if id in charsets:
    charsets[id].append([charmeta['Character Name'][ind], charmeta['Gender'][ind]])
  else:
    charsets[id] = [[charmeta['Character Name'][ind], charmeta['Gender'][ind]]]




#Put the character data into a two column DataFrame to merge with the appropriate movies
df = pd.DataFrame.from_dict(charsets, orient="index")
columns = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,114]
df['Characters'] = df[columns].to_dict(orient='records')
df = df.drop(columns=columns)
df.index.name = 'Wiki ID'
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  app.launch_new_instance()

                                                Characters
Wiki ID
975900   {0: ['Akooshay', 'F'], 1: ['Lieutenant Melanie...
3196793  {0: ['Police Officer', 'M'], 1: ['Reporter', '...
2238856  {0: ['Michael', 'M'], 1: ['Richard Swersey', '...
2314463  {0: ['Taper Guy', 'M'], 1: None, 2: None, 3: N...
612710   {0: ['Sandii', 'F'], 1: ['Fox', 'M'], 2: ['Mad...

In [18]:
#Merge the movie metadata with the respective summaries
movies = pd.merge(left=mvmeta, right=summs, left_on='Wiki ID', right_on='Wiki ID')
movies.head(10)

,Wiki ID,Freebase ID,Movie Name,Release Date,Box Office,Runtime,Language,Country Origin,Genres,Summary
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...","Set in the second half of the 22nd century, th..."
1,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",A series of murders of rich young women throug...
2,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}","Eva, an upper class housewife, becomes frustra..."
3,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...","Every hundred years, the evil Morgana returns..."
4,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ...","Adam, a San Francisco-based artist who works a..."
5,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...
6,18296435,/m/04cqrs4,Aaah Belinda,1986,NaN,NaN,"{""/m/02hwyss"": ""Turkish Language""}","{""/m/01znc_"": ""Turkey""}","{""/m/01z4y"": ""Comedy""}","Serap, a young actress with a strong, lively p..."
7,11250635,/m/02r52hc,The Mechanical Monsters,NaN,NaN,NaN,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""...",The story starts as one of the robots flies i...
8,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",The film opens with Mary Poppins perched in a...
9,32456683,/m/0gyryjt,Die Fahne von Kriwoj Rog,1967,NaN,108.0,"{""/m/04306rv"": ""German Language""}","{""/m/03f2w"": ""German Democratic Republic""}",{},"Otto Brosowski, a communist miner, writes to t..."

In [19]:
#Not every movie has a summary, dataset is cut roughly in half
len(movies)

42204

In [20]:
movies = pd.merge(left=movies, right=df, left_on='Wiki ID', right_on='Wiki ID')
movies.head(10)

,Wiki ID,Freebase ID,Movie Name,Release Date,Box Office,Runtime,Language,Country Origin,Genres,Summary,Characters
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...","Set in the second half of the 22nd century, th...","{0: ['Akooshay', 'F'], 1: ['Lieutenant Melanie..."
1,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...","Every hundred years, the evil Morgana returns...","{0: ['Morgana', 'F'], 1: None, 2: None, 3: Non..."
2,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ...","Adam, a San Francisco-based artist who works a...","{0: ['Rebecca', 'F'], 1: ['Nina', 'F'], 2: Non..."
3,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...,"{0: ['Henry V', 'M'], 1: ['Catherine of Valois..."
4,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",The film opens with Mary Poppins perched in a...,"{0: ['Jane Banks', 'F'], 1: ['George Banks', '..."
5,156558,/m/014k4y,Baby Boy,2001-06-27,29381649.0,123.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",A young 20-year-old named Jody lives with his...,"{0: ['Yvette', 'F'], 1: ['Jody', 'M'], 2: ['Já..."
6,11448183,/m/02rc_h4,Bindiya Chamkegi,1984-01-20,NaN,NaN,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/0hqxf"": ""Family Film"", ""/m/01z4y"": ""Comedy""}",Shalini 'Shalu' lives a wealthy lifestyle with...,"{0: ['Havaldar', 'M'], 1: ['Bindiya', 'F'], 2:..."
7,9633533,/m/02pml15,Vandanam,1989,NaN,168.0,"{""/m/0999q"": ""Malayalam Language""}","{""/m/03rk0"": ""India""}","{""/m/02kdv5l"": ""Action""}","Professor Kurian Fernandez , a convict escapes...","{0: ['Unnikrishnan', 'M'], 1: ['Advertising Bo..."
8,29528534,/m/04j0lfk,Anokha Rishta,1986,NaN,180.0,"{""/m/03k50"": ""Hindi Language""}","{""/m/03rk0"": ""India""}","{""/m/03q4nz"": ""World cinema"", ""/m/04t36"": ""Mus...","Mary, an orphan lives in an orphanage run by n...","{0: ['Dr. Pramila', 'F'], 1: ['Robert Bob', 'M..."
9,29772142,/m/0fq260_,Karayilekku Oru Kadal Dooram,2010-12-31,NaN,110.0,"{""/m/0999q"": ""Malayalam Language""}","{""/m/03rk0"": ""India""}","{""/m/07s9rl0"": ""Drama""}","Anoop Chandran , is a famous writer and award ...","{0: ['Gatha', 'F'], 1: ['Sathyabhama', 'F'], 2..."

In [21]:
#Not every movie has character metadata, dataset is cut roughly in half again
len(movies)

23068

In [23]:
movies['Bias'] = 0

nlp = spacy.load("en_core_web_sm")
summ = movies['Summary'].loc[movies['Wiki ID'] == 975900].item()
chars = movies['Characters'].loc[movies['Wiki ID'] == 975900].item()
doc = nlp(summ)

## Taken from https://stackoverflow.com/questions/64422129/how-to-extract-noun-and-adjective-pairs-including-conjunctions
noun_adj_pairs = {}

for chunk in doc.noun_chunks:
    print(chunk)
    adj = []
    noun = ""
    for tok in chunk:
        if tok.pos_ == "PROPN":
            noun = tok.text
            if tok.head.pos_ == "VERB":
              adj.append(tok.head.text)
        if tok.pos_ == "ADJ":
            adj.append(tok.text)
    if noun:
        noun_adj_pairs.update({noun:adj})
## End cited code



print(noun_adj_pairs)
print(summ)
for token in doc:
    print(token.text, token.lemma_, token.pos_, token.tag_, token.dep_,
            token.shape_, token.is_alpha, token.is_stop)

the second half
the 22nd century
the film
Mars
a planet
humans
the surface
pressure suits
The Martian society
women
most positions
authority
The story
a police officer
Melanie Ballard
command
a small team
Sergeant Jericho
a prisoner
the remote mining town
Williams
Ballard
the people
She
the miners
an underground doorway
an ancient Martian civilization
the door
it
"ghosts
disembodied spirits
the miners
Violence ensues
the possessed miners
horrific acts
death
destruction
self-mutilation
their team leader
Helena Bradock
Ballard
the attacking miners
the town
the ghosts
her intentions
the fact
a possessed human
the Martian spirit
another human
The team
a nuclear reactor
the ghosts
several points
the film
Sergeant Jericho
a romantic interest
Ballard
Ballard's crew
survivors
who
the jail
the miners
many fierce battles
events
only her
Williams
Sergeant Jericho
the other remaining officers
the two operators
the train
a brief retreat
the fight
the authorities
the massacre
him
he
Ballard
her cot
escapes
the train
her
her report
skepticism
her superiors
Ballard
a hospital
the released spirits
who
the city
The end scene
the movie
a sequel
Williams
Ballard
{'Mars': ['depicts'], 'Ballard': [], 'Jericho': ['killed'], 'Williams': ['returns'], 'Bradock': []}
Set in the second half of the 22nd century, the film depicts Mars as a planet that has been 84% terraformed, allowing humans to walk on the surface without wearing pressure suits. The Martian society has become largely matriarchal, with women in most positions of authority. The story concerns a police officer, Melanie Ballard , second in command of a small team alongside Sergeant Jericho  sent to pick up and transport a prisoner named Desolation Williams . Arriving at the remote mining town where Williams is being held, Ballard finds virtually all of the people missing. She learns that the miners had discovered an underground doorway created by an ancient Martian civilization. When the door was opened it released "ghosts," disembodied spirits which possessed the miners. Violence ensues, as the possessed miners commit horrific acts of death and destruction, as well as self-mutilation. With their team leader Helena Bradock  murdered, Ballard must fight off the attacking miners, escape the town, and destroy the ghosts, if possible. Unfortunately, her intentions are complicated by the fact that killing a possessed human merely releases the Martian spirit to possess another human. The team eventually decides to blow up a nuclear reactor to try and vaporize all of the ghosts. At several points in the film Sergeant Jericho shows a romantic interest in Ballard, mostly unreciprocated. Ballard's crew along with survivors who manage to gather in the jail are eventually wiped out by the miners after many fierce battles and events , leaving only her and Williams after Sergeant Jericho and the other remaining officers and the two operators of the train are killed upon returning from a brief retreat to finish the fight. Not wanting the authorities to blame the massacre on him, he handcuffs Ballard to her cot and escapes from the train, leaving her to return home and deliver her report, which is received with skepticism by her superiors. While Ballard recuperates at a hospital, the released spirits, who weren't destroyed after all, attack the city. The end scene sets the movie up for a sequel as Williams returns to team up with Ballard to fight the possessed.
Set Set VERB VBN advcl Xxx True False
in in ADP IN prep xx True True
the the DET DT det xxx True True
second second ADJ JJ amod xxxx True False
half half NOUN NN pobj xxxx True False
of of ADP IN prep xx True True
the the DET DT det xxx True True
22nd 22nd ADJ JJ amod ddxx False False
century century NOUN NN pobj xxxx True False
, , PUNCT , punct , False False
the the DET DT det xxx True True
film film NOUN NN nsubj xxxx True False
depicts depict VERB VBZ ROOT xxxx True False
Mars Mars PROPN NNP dobj Xxxx True False
as as SCONJ IN prep xx True True
a a DET DT det x True True
planet planet NOUN NN pobj xxxx True False
that that DET WDT nsubj xxxx True True
has have AUX VBZ aux xxx True True
been be AUX VBN relcl xxxx True True
84 84 NUM CD nummod dd False False
% % NOUN NN compound % False False
terraformed terraforme VERB VBN attr xxxx True False
, , PUNCT , punct , False False
allowing allow VERB VBG advcl xxxx True False
humans human NOUN NNS nsubj xxxx True False
to to PART TO aux xx True True
walk walk VERB VB ccomp xxxx True False
on on ADP IN prep xx True True
the the DET DT det xxx True True
surface surface NOUN NN pobj xxxx True False
without without ADP IN prep xxxx True True
wearing wear VERB VBG pcomp xxxx True False
pressure pressure NOUN NN compound xxxx True False
suits suit NOUN NNS dobj xxxx True False
. . PUNCT . punct . False False
The the DET DT det Xxx True True
Martian martian ADJ JJ amod Xxxxx True False
society society NOUN NN nsubj xxxx True False
has have AUX VBZ aux xxx True True
become become VERB VBN ROOT xxxx True True
largely largely ADV RB advmod xxxx True False
matriarchal matriarchal ADJ JJ acomp xxxx True False
, , PUNCT , punct , False False
with with ADP IN prep xxxx True True
women woman NOUN NNS pobj xxxx True False
in in ADP IN prep xx True True
most most ADJ JJS amod xxxx True True
positions position NOUN NNS pobj xxxx True False
of of ADP IN prep xx True True
authority authority NOUN NN pobj xxxx True False
. . PUNCT . punct . False False
The the DET DT det Xxx True True
story story NOUN NN nsubj xxxx True False
concerns concern VERB VBZ ROOT xxxx True False
a a DET DT det x True True
police police NOUN NN compound xxxx True False
officer officer NOUN NN dobj xxxx True False
, , PUNCT , punct , False False
Melanie Melanie PROPN NNP compound Xxxxx True False
Ballard Ballard PROPN NNP appos Xxxxx True False
, , PUNCT , punct , False False
second second ADJ JJ intj xxxx True False
in in ADP IN prep xx True True
command command NOUN NN pobj xxxx True False
of of ADP IN prep xx True True
a a DET DT det x True True
small small ADJ JJ amod xxxx True False
team team NOUN NN pobj xxxx True False
alongside alongside ADP IN prep xxxx True False
Sergeant Sergeant PROPN NNP compound Xxxxx True False
Jericho Jericho PROPN NNP pobj Xxxxx True False
    SPACE _SP    False False
sent send VERB VBN acl xxxx True False
to to PART TO aux xx True True
pick pick VERB VB advcl xxxx True False
up up ADP RP prt xx True True
and and CCONJ CC cc xxx True True
transport transport VERB VB conj xxxx True False
a a DET DT det x True True
prisoner prisoner NOUN NN dobj xxxx True False
named name VERB VBN acl xxxx True False
Desolation Desolation PROPN NNP compound Xxxxx True False
Williams Williams PROPN NNP oprd Xxxxx True False
. . PUNCT . punct . False False
Arriving arrive VERB VBG advcl Xxxxx True False
at at ADP IN prep xx True True
the the DET DT det xxx True True
remote remote ADJ JJ amod xxxx True False
mining mining NOUN NN compound xxxx True False
town town NOUN NN pobj xxxx True False
where where ADV WRB advmod xxxx True True
Williams Williams PROPN NNP nsubjpass Xxxxx True False
is be AUX VBZ aux xx True True
being be AUX VBG auxpass xxxx True True
held hold VERB VBN relcl xxxx True False
, , PUNCT , punct , False False
Ballard Ballard PROPN NNP nsubj Xxxxx True False
finds find VERB VBZ ROOT xxxx True False
virtually virtually ADV RB advmod xxxx True False
all all DET DT nsubj xxx True True
of of ADP IN prep xx True True
the the DET DT det xxx True True
people people NOUN NNS pobj xxxx True False
missing miss VERB VBG ccomp xxxx True False
. . PUNCT . punct . False False
She -PRON- PRON PRP nsubj Xxx True True
learns learn VERB VBZ ROOT xxxx True False
that that SCONJ IN mark xxxx True True
the the DET DT det xxx True True
miners miner NOUN NNS nsubj xxxx True False
had have AUX VBD aux xxx True True
discovered discover VERB VBN ccomp xxxx True False
an an DET DT det xx True True
underground underground ADJ JJ amod xxxx True False
doorway doorway NOUN NN dobj xxxx True False
created create VERB VBN acl xxxx True False
by by ADP IN agent xx True True
an an DET DT det xx True True
ancient ancient ADJ JJ amod xxxx True False
Martian martian ADJ JJ amod Xxxxx True False
civilization civilization NOUN NN pobj xxxx True False
. . PUNCT . punct . False False
When when ADV WRB advmod Xxxx True True
the the DET DT det xxx True True
door door NOUN NN nsubjpass xxxx True False
was be AUX VBD auxpass xxx True True
opened open VERB VBN advcl xxxx True False
it -PRON- PRON PRP nsubj xx True True
released release VERB VBN ROOT xxxx True False
" " PUNCT `` punct " False False
ghosts ghost NOUN NNS dobj xxxx True False
, , PUNCT , punct , False False
" " PUNCT '' punct " False False
disembodied disembody VERB VBN amod xxxx True False
spirits spirit NOUN NNS dobj xxxx True False
which which DET WDT nsubj xxxx True True
possessed possess VERB VBD relcl xxxx True False
the the DET DT det xxx True True
miners miner NOUN NNS dobj xxxx True False
. . PUNCT . punct . False False
Violence violence NOUN NN compound Xxxxx True False
ensues ensue NOUN NNS nsubj xxxx True False
, , PUNCT , punct , False False
as as SCONJ IN mark xx True True
the the DET DT det xxx True True
possessed possess VERB VBN amod xxxx True False
miners miner NOUN NNS nsubj xxxx True False
commit commit VERB VBP ROOT xxxx True False
horrific horrific ADJ JJ amod xxxx True False
acts act NOUN NNS dobj xxxx True False
of of ADP IN prep xx True True
death death NOUN NN pobj xxxx True False
and and CCONJ CC cc xxx True True
destruction destruction NOUN NN conj xxxx True False
, , PUNCT , punct , False False
as as ADV RB advmod xx True True
well well ADV RB advmod xxxx True True
as as SCONJ IN cc xx True True
self self NOUN NN compound xxxx True False
- - PUNCT HYPH punct - False False
mutilation mutilation NOUN NN conj xxxx True False
. . PUNCT . punct . False False
With with ADP IN prep Xxxx True True
their -PRON- DET PRP$ poss xxxx True True
team team NOUN NN compound xxxx True False
leader leader NOUN NN nsubj xxxx True False
Helena Helena PROPN NNP compound Xxxxx True False
Bradock Bradock PROPN NNP appos Xxxxx True False
    SPACE _SP    False False
murdered murder VERB VBD pobj xxxx True False
, , PUNCT , punct , False False
Ballard Ballard PROPN NNP nsubj Xxxxx True False
must must VERB MD aux xxxx True True
fight fight VERB VB ROOT xxxx True False
off off ADP RP prt xxx True True
the the DET DT det xxx True True
attacking attack VERB VBG amod xxxx True False
miners miner NOUN NNS dobj xxxx True False
, , PUNCT , punct , False False
escape escape VERB VB conj xxxx True False
the the DET DT det xxx True True
town town NOUN NN dobj xxxx True False
, , PUNCT , punct , False False
and and CCONJ CC cc xxx True True
destroy destroy VERB VB conj xxxx True False
the the DET DT det xxx True True
ghosts ghost NOUN NNS dobj xxxx True False
, , PUNCT , punct , False False
if if SCONJ IN mark xx True True
possible possible ADJ JJ advcl xxxx True False
. . PUNCT . punct . False False
Unfortunately unfortunately ADV RB advmod Xxxxx True False
, , PUNCT , punct , False False
her -PRON- DET PRP$ poss xxx True True
intentions intention NOUN NNS nsubjpass xxxx True False
are be AUX VBP auxpass xxx True True
complicated complicate VERB VBN ROOT xxxx True False
by by ADP IN agent xx True True
the the DET DT det xxx True True
fact fact NOUN NN pobj xxxx True False
that that SCONJ IN mark xxxx True True
killing kill VERB VBG csubj xxxx True False
a a DET DT det x True True
possessed possess VERB VBN amod xxxx True False
human human NOUN NN dobj xxxx True False
merely merely ADV RB advmod xxxx True False
releases release VERB VBZ acl xxxx True False
the the DET DT det xxx True True
Martian martian ADJ JJ amod Xxxxx True False
spirit spirit NOUN NN nsubj xxxx True False
to to PART TO aux xx True True
possess possess VERB VB ccomp xxxx True False
another another DET DT det xxxx True True
human human NOUN NN dobj xxxx True False
. . PUNCT . punct . False False
The the DET DT det Xxx True True
team team NOUN NN nsubj xxxx True False
eventually eventually ADV RB advmod xxxx True False
decides decide VERB VBZ ROOT xxxx True False
to to PART TO aux xx True True
blow blow VERB VB xcomp xxxx True False
up up ADP RP prt xx True True
a a DET DT det x True True
nuclear nuclear ADJ JJ amod xxxx True False
reactor reactor NOUN NN dobj xxxx True False
to to PART TO aux xx True True
try try VERB VB advcl xxx True False
and and CCONJ CC cc xxx True True
vaporize vaporize VERB VB conj xxxx True False
all all DET DT dobj xxx True True
of of ADP IN prep xx True True
the the DET DT det xxx True True
ghosts ghost NOUN NNS pobj xxxx True False
. . PUNCT . punct . False False
At at ADP IN prep Xx True True
several several ADJ JJ amod xxxx True True
points point NOUN NNS pobj xxxx True False
in in ADP IN prep xx True True
the the DET DT det xxx True True
film film NOUN NN pobj xxxx True False
Sergeant Sergeant PROPN NNP compound Xxxxx True False
Jericho Jericho PROPN NNP nsubj Xxxxx True False
shows show VERB VBZ ROOT xxxx True False
a a DET DT det x True True
romantic romantic ADJ JJ amod xxxx True False
interest interest NOUN NN dobj xxxx True False
in in ADP IN prep xx True True
Ballard Ballard PROPN NNP pobj Xxxxx True False
, , PUNCT , punct , False False
mostly mostly ADV RB advmod xxxx True True
unreciprocated unreciprocated ADJ JJ acl xxxx True False
. . PUNCT . punct . False False
Ballard Ballard PROPN NNP poss Xxxxx True False
's 's PART POS case 'x False True
crew crew NOUN NN nsubjpass xxxx True False
along along ADP IN prep xxxx True True
with with ADP IN prep xxxx True True
survivors survivor NOUN NNS pobj xxxx True False
who who PRON WP nsubj xxx True True
manage manage VERB VBP relcl xxxx True False
to to PART TO aux xx True True
gather gather VERB VB xcomp xxxx True False
in in ADP IN prep xx True True
the the DET DT det xxx True True
jail jail NOUN NN pobj xxxx True False
are be AUX VBP auxpass xxx True True
eventually eventually ADV RB advmod xxxx True False
wiped wipe VERB VBN ROOT xxxx True False
out out ADP RP prt xxx True True
by by ADP IN agent xx True True
the the DET DT det xxx True True
miners miner NOUN NNS pobj xxxx True False
after after ADP IN prep xxxx True True
many many ADJ JJ amod xxxx True True
fierce fierce ADJ JJ amod xxxx True False
battles battle NOUN NNS pobj xxxx True False
and and CCONJ CC cc xxx True True
events event NOUN NNS conj xxxx True False
, , PUNCT , punct , False False
leaving leave VERB VBG advcl xxxx True False
only only ADV RB advmod xxxx True True
her -PRON- PRON PRP dobj xxx True True
and and CCONJ CC cc xxx True True
Williams Williams PROPN NNP conj Xxxxx True False
after after ADP IN mark xxxx True True
Sergeant Sergeant PROPN NNP compound Xxxxx True False
Jericho Jericho PROPN NNP nsubjpass Xxxxx True False
and and CCONJ CC cc xxx True True
the the DET DT det xxx True True
other other ADJ JJ amod xxxx True True
remaining remain VERB VBG amod xxxx True False
officers officer NOUN NNS conj xxxx True False
and and CCONJ CC cc xxx True True
the the DET DT det xxx True True
two two NUM CD nummod xxx True True
operators operator NOUN NNS conj xxxx True False
of of ADP IN prep xx True True
the the DET DT det xxx True True
train train NOUN NN pobj xxxx True False
are be AUX VBP auxpass xxx True True
killed kill VERB VBN advcl xxxx True False
upon upon SCONJ IN prep xxxx True True
returning return VERB VBG pcomp xxxx True False
from from ADP IN prep xxxx True True
a a DET DT det x True True
brief brief ADJ JJ amod xxxx True False
retreat retreat NOUN NN pobj xxxx True False
to to PART TO aux xx True True
finish finish VERB VB advcl xxxx True False
the the DET DT det xxx True True
fight fight NOUN NN dobj xxxx True False
. . PUNCT . punct . False False
Not not PART RB neg Xxx True True
wanting want VERB VBG advcl xxxx True False
the the DET DT det xxx True True
authorities authority NOUN NNS dobj xxxx True False
to to PART TO aux xx True True
blame blame VERB VB ccomp xxxx True False
the the DET DT det xxx True True
massacre massacre NOUN NN dobj xxxx True False
on on ADP IN prep xx True True
him -PRON- PRON PRP pobj xxx True True
, , PUNCT , punct , False False
he -PRON- PRON PRP nsubj xx True True
handcuffs handcuff VERB VBZ ROOT xxxx True False
Ballard Ballard PROPN NNP dobj Xxxxx True False
to to ADP IN prep xx True True
her -PRON- DET PRP$ poss xxx True True
cot cot NOUN NN pobj xxx True False
and and CCONJ CC cc xxx True True
escapes escape NOUN NNS conj xxxx True False
from from ADP IN prep xxxx True True
the the DET DT det xxx True True
train train NOUN NN pobj xxxx True False
, , PUNCT , punct , False False
leaving leave VERB VBG advcl xxxx True False
her -PRON- PRON PRP dobj xxx True True
to to PART TO aux xx True True
return return VERB VB xcomp xxxx True False
home home ADV RB advmod xxxx True False
and and CCONJ CC cc xxx True True
deliver deliver VERB VB conj xxxx True False
her -PRON- DET PRP$ poss xxx True True
report report NOUN NN dobj xxxx True False
, , PUNCT , punct , False False
which which DET WDT nsubjpass xxxx True True
is be AUX VBZ auxpass xx True True
received receive VERB VBN relcl xxxx True False
with with ADP IN prep xxxx True True
skepticism skepticism NOUN NN pobj xxxx True False
by by ADP IN prep xx True True
her -PRON- DET PRP$ poss xxx True True
superiors superior NOUN NNS pobj xxxx True False
. . PUNCT . punct . False False
While while SCONJ IN mark Xxxxx True True
Ballard Ballard PROPN NNP nsubj Xxxxx True False
recuperates recuperate VERB VBZ advcl xxxx True False
at at ADP IN prep xx True True
a a DET DT det x True True
hospital hospital NOUN NN pobj xxxx True False
, , PUNCT , punct , False False
the the DET DT det xxx True True
released release VERB VBN amod xxxx True False
spirits spirit NOUN NNS nsubj xxxx True False
, , PUNCT , punct , False False
who who PRON WP nsubjpass xxx True True
were be AUX VBD auxpass xxxx True True
n't not PART RB neg x'x False True
destroyed destroy VERB VBN relcl xxxx True False
after after ADV RB advmod xxxx True True
all all ADV RB advmod xxx True True
, , PUNCT , punct , False False
attack attack VERB VB ROOT xxxx True False
the the DET DT det xxx True True
city city NOUN NN dobj xxxx True False
. . PUNCT . punct . False False
The the DET DT det Xxx True True
end end NOUN NN compound xxx True False
scene scene NOUN NN nsubj xxxx True False
sets set VERB VBZ ROOT xxxx True False
the the DET DT det xxx True True
movie movie NOUN NN dobj xxxx True False
up up ADP RP prt xx True True
for for ADP IN prep xxx True True
a a DET DT det x True True
sequel sequel NOUN NN pobj xxxx True False
as as SCONJ IN mark xx True True
Williams Williams PROPN NNP nsubj Xxxxx True False
returns return VERB VBZ advcl xxxx True False
to to PART TO aux xx True True
team team VERB VB xcomp xxxx True False
up up ADP RP prt xx True True
with with ADP IN prep xxxx True True
Ballard Ballard PROPN NNP pobj Xxxxx True False
to to PART TO aux xx True True
fight fight VERB VB advcl xxxx True False
the the DET DT det xxx True True
possessed possess VERB VBN dobj xxxx True False
. . PUNCT . punct . False False

```
for movie in movies DataFrame:
  charlist = movie['Characters']
	run NLP on the summary to get a doc of tokens
	use the dependency tokens to collect a list of subject verb and subject adjective pairs
	for each pair in the list:
		gendpair = [subjgend(subject lemma, charlist), descgend(adjective/verb lemma)]
		if subjgend == descgend:
			stereotype++
		total++
	movie['Bias'] = stereotype/total

def subjgend(subj, charlist):
	if subj == 'he':
		return 'male'
	if subj == 'she':
		return 'female'
	for char in charlist:
		if char[0] == subj:
			return char[1]

def descgend(desc):
	if(desclist.contains(desc)):
		return desclist[desc]
	return 'neutral'
```